@model UserModel
@{
    ViewData["GivenName"] = String.IsNullOrEmpty(Model.User.GivenName) ? "Lorem ipsum dolor sit" : Model.User.GivenName;
    ViewData["UserName"] = String.IsNullOrEmpty(Model.User.GivenName) ? "(Amet, consectetur)" : Model.User.UserName;
    ViewData["Intro"] = String.IsNullOrEmpty(Model.UserProfile.Intro) ? "" : Model.UserProfile.Intro;
}
<style>
    .col-9, .col-xl-9, .col-lg-9 {
        max-width: 1272px;
    }
</style>
<section class="section-user-header">
    <div class="row">
        <div class="col-9 align-center map-baner">
            @*<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.0765486987716!2d105.85491941476323!3d21.029622885997842!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135abea0e8934f1%3A0xa72303b62380788!2zMTk0IMSQxrDhu51uZyBUcuG6p24gUXVhbmcgS2jhuqNpLCBMw70gVGjDoWkgVOG7lSwgSG_DoG4gS2nhur9tLCBIw6AgTuG7mWksIFZpZXRuYW0!5e0!3m2!1sen!2s!4v1615173827195!5m2!1sen!2s"
                width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"></iframe>*@
            <img src="~/img/demo/Rectangle 563.png" width="100%" height="100%" style="object-fit:cover" />
        </div>
        <div class="col-9 info-user-header align-center">
            <div class="user-avatar">
                <div class="avatar">
                    @if (Model.UserProfile.BannerUrl != null)
                    {
                        @*<img src="~/img/demo/Badge-01.jpg" alt="" class="avatar">*@
                        <img src="" alt="">
                    }
                    else
                    {
                        <img src="https://cdn.icon-icons.com/icons2/1378/PNG/512/avatardefault_92824.png" alt="">
                        @*<img src="" alt="">*@
                    }
                </div>
                <div class="option-box profile-option" id="profile-option">
                    <div class="dot-item"></div>
                    <div class="dot-item"></div>
                    <div class="dot-item"></div>
                </div>
              
                <div class="dropdown">
                    <button class="dropbtn"><i class="fas fa-ellipsis-v"></i></button>
                    <div class="dropdown-content">
                        <a href="#">Edit profile</a>
                        <a href="#">Copy link profile</a>
                        <a href="#">Log out</a>
                    </div>
                </div>
            </div>
            <div class="profile-text">
                <h2 class="header-title-text">@ViewData["GivenName"]</h2>
                <h2 class="header-title-text" style="color:#52616B">@ViewData["UserName"]</h2>
                <div class="header-description">
                    <p class="col-lg-6 col-xl-6 col-md-6 descrition-paragraph">
                        @ViewData["Intro"]  @*Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Bibendum est ultricies integer quis. Iaculis urna id volutpat lacus laoreet. Mauris vitae ultricies leo.*@
                    </p>
                </div>
                <div class="profile-category-header">
                    <a href="" class="btn-text category-btn category-btn-active">Follow</a>
                    <a href="" class="btn-text category-btn">Message</a>
                </div>
                <!-- <div class="col-lg-10 header-bar-rating">
                    <div class="col-lg-4 col-md-4 col-xl-4 rating-item"><label for="" class="rating-number">60K</label><span class="rating-text">Critical Critics</span></div>
                    <div class="col-lg-4 col-md-4 col-xl-4 rating-item"><label for="" class="rating-number">60k</label><span class="rating-text">Audience Rating</span></div>
                    <div class="col-lg-4 col-md-4 col-xl-4 rating-item"><label for="" class="rating-number">600k</label><span class="rating-text">Questions, Tip & Tricks</span></div>
                </div> -->
            </div>
        </div>

    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.profile-option').hover(
                function () {
                    $('.option-menu').show();
                },
                function () {
                    $('.option-menu').hide();
                });
        });
    </script>
    <div class="row">
        <div class="col-9 cs bar-click">
            <div class="rating-item"><label for="" class="rating-number" style="color: #303030">60K</label><span class="rating-text">Stories</span></div>
            <div class="rating-item"><label for="" class="rating-number">60k</label><span class="rating-text">Collections</span></div>
            <div class="rating-item"><label for="" class="rating-number">600k</label><span class="rating-text">Places Visited</span></div>
            <div class="rating-item"><label for="" class="rating-number">600k</label><span class="rating-text">Comments</span></div>
            <div class="rating-item"><label for="" class="rating-number">600k</label><span class="rating-text">Followers</span></div>
            <div class="rating-item"><label for="" class="rating-number">600k</label><span class="rating-text">Followings</span></div>
        </div>
    </div>
</section>
<section class="profile-body">
    <div class="body-header">
        <div class="title-header">
            <h2 class="header-title-text">My Collection</h2>
        </div>

    </div>
    <div class="row">
        @*<div class="col-10 offset-1">*@
        <div class="col-9 align-center">
            <div class="pillar-card-container">

                <div class="verticle-card-item">
                    <div class="verticle-card-item-img">
                        <a class="image" href="">
                            <img class="rounded" src="/img/demo/Photos/14.jpg" />
                        </a>
                    </div>
                    <div class="veritcle-card-carouse-content">
                        <p class="name-text-center">
                            Lorem ipsum dolor
                        </p>
                        <p class="card-span-text-center">152 Items . Created DD/MM/YYYY</p>

                    </div>
                    <span class="box-list-state">
                        <i class="fas fa-layer-group"></i>
                    </span>
                </div>
                <div class="verticle-card-item">
                    <div class="verticle-card-item-img">
                        <a class="image" href="">
                            <img class="rounded" src="/img/demo/Photos/40.jpg" />
                        </a>
                    </div>
                    <div class="veritcle-card-carouse-content">
                        <p class="name-text-center">
                            Lorem ipsum dolor
                        </p>
                        <p class="card-span-text-center">152 Items . Created DD/MM/YYYY</p>

                    </div>
                    <span class="box-list-state">
                        <i class="fas fa-layer-group"></i>
                    </span>
                </div>
                <div class="verticle-card-item">
                    <div class="verticle-card-item-img">
                        <a class="image" href="">
                            <img class="rounded" src="/img/demo/Photos/11.jpg" />
                        </a>
                    </div>
                    <div class="veritcle-card-carouse-content">
                        <p class="name-text-center">
                            Lorem ipsum dolor
                        </p>
                        <p class="card-span-text-center">152 Items . Created DD/MM/YYYY</p>

                    </div>
                    <span class="box-list-state">
                        <i class="fas fa-layer-group"></i>
                    </span>
                </div>

            </div>
            <div class="pagination-list collection-paging text-center mt-5" id="paging"></div>
        </div>

    </div>

    @if (Model._ListExperience.listExperience.Count > 0)
    {
        <div class="row">
            <div class="align-center header-title-text  vertical-card-title " style="margin-top:128px;">My Stories</div>
        </div>
        <div class="row">

            <div class="col-lg-9 col-xl-9 col-md-9 align-center">
                <div class="row" id="experience-container">

                    @foreach (var itm in Model._ListExperience.listExperience.ToList())
                    {
                        <div class="experience-item col-xl-4 col-lg-6 col-md-6 col-sm-12 mb-4">
                            <div class="home-item row">
                                <div class="col-12 py-0 px-2">
                                    <div class="thumb">
                                        <a class="" href="@string.Format("/Experience/{0}", itm.RouteUri)">
                                            <img class="rounded" src="@string.Format("{0}{1}", UrlList.FileServer, itm.ThumbnailUrl)" />
                                        </a>
                                    </div>
                                </div>
                                <div class="content">
                                    <a>STORY</a>
                                    <h3><a href="@string.Format("/Experience/{0}", itm.RouteUri)">@(string.IsNullOrEmpty(itm.ExperienceLanguage.Title) ? itm.DefaultName : itm.ExperienceLanguage.Title )</a></h3>
                                    <p>#N of N Category</p>
                                    <p>N Have been there</p>
                                    <p>N Saves . @string.Format("{0} Comments", itm.TotalComments)</p>
                                </div>
                                <span class="fea-rating">
                                    <label>92</label>
                                    <label>95</label>
                                </span>
                            </div>
                        </div>
                    }
                </div>
                <div class="pagination-list experience-paging text-center mt-5" id="paging"></div>
            </div>
        </div>
    }
</section>
<script type="text/javascript">
    $(document).ready(function () {
       $('.experience-paging').pagination({
                    items: @(Math.Ceiling((decimal)(Model._ListExperience.TotalRecord / 9))),
            itemOnPage: 4,
            currentPage: 1,
            cssStyle: '',
            prevText: '<ion-icon name="caret-back-outline"></ion-icon>',
            nextText: '<ion-icon name="caret-forward-outline"></ion-icon>',
            onInit: function () {
                            // fire first page loading
                        },
            onPageClick: function (page, evt) {
                            // some code
                LoadExperiences(page);
                        }
       });
        $('.collection-paging').pagination({
                    items: @(Math.Ceiling((decimal)(Model._ListExperience.TotalRecord / 2))),
            itemOnPage: 2,
            currentPage: 1,
            cssStyle: '',
            prevText: '<ion-icon name="caret-back-outline"></ion-icon>',
            nextText: '<ion-icon name="caret-forward-outline"></ion-icon>',
            onInit: function () {
                            // fire first page loading
                        },
            onPageClick: function (page, evt) {
                            // some code
                        }
       });


        function LoadExperiences(page) {
        $.ajax({
            type: "POST",
            url: "/Account/RequestPage/" + page,
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            Processing: "true",
            success: function (data) {
                if (data._ListExperience.listExperience.length > 0) {
                    $('.experience-item').remove();
                  
                     for (var i = 0; i < data._ListExperience.listExperience.length; i++) {
                        var image = data._ListExperience.listExperience[i].thumbnailUrl;
                        var title = checkNullString(data._ListExperience.listExperience[i].experienceLanguage.title);
                        var uri = data._ListExperience.listExperience[i].routeUri;
                        var htmlString = $(" <div class='experience-item col-xl-4 col-lg-6 col-md-6 col-sm-12 mb-4'>"
                            + "<div class='home-item row'>"
                            + "<div class='col-12 py-0 px-2'>"
                            + "<div class='thumb'>"
                            + "<a class='' href='/Experience/" + uri + "' > "
                            + "<img class='rounded' onerror='imgError(this)' src='@string.Format("{0}", UrlList.FileServer)" + image + "' /> "
                            + "</a>"
                            + "</div>"
                            + "</div>"
                            + "<div class='content'>"
                            + "<a>STORY</a>"
                            + "<h3><a href='/Experience/" + uri + "'> " + title + "</a></h3>"
                            + "<p>#N of N Category</p>"
                            + "<p>N Have been there</p>"
                            + "<p>N Saves ." + data._ListExperience.listExperience[i].totalComments + "</p>"
                            + "</div>"
                            + "<span class='fea-rating'>"
                            + "<label>92</label>"
                            + "<label>95</label>"
                            + "</span>"
                            + "</div>"
                            + "</div>");

                        //tr.appendTo("#booking_table");
                        htmlString.appendTo('#experience-container');
                    }
                }

            },
            error: function (req, status, error) {
                console.log(msg);
            }
        });
    }



    });
</script>