@using DynamicData.Entities;
@model Web.Backend.Models.DynamicForm.SysTableViewModel

<form asp-controller="SysTable" asp-action="Edit" method="post" class="form-vertical">
    <div class="form-group row">
        <div class="col-6">
            <label class="font-weight-bold">Table ID</label>
            <div class="input-group">
                <input type="text" class="form-control" asp-for="SysTable.Id" readonly />
                <div class="input-group-append" data-toggle="tooltip" title="Copy ID">
                    <span class="input-group-text">
                        <i class="ki ki-copy"></i>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-6">
            <label class="font-weight-bold">Table Name</label>
            <input type="text" class="form-control font-weight-bold" asp-for="SysTable.Name" readonly />
        </div>
    </div>
    <div class="form-group">
        <label class="font-weight-bold">Display Name  <span class="text-danger">*</span></label>
        <input type="text" class="form-control" asp-for="SysTable.DisplayName" />
        <span class="form-text text-muted">Name display to Web UI.</span>
    </div>
    <div class="form-group">
        <label class="font-weight-bold mb-1">Permissions</label>
        <div class="checkbox-inline row">
            @foreach (var tblPermission in Enum.GetValues(typeof(EnumTablePermission)))
            {
                <label class="checkbox checkbox-outline checkbox-outline-2x checkbox-primary col-4 mr-0">
                    <input type="checkbox" name="TablePermissions" value="@((int)tblPermission)"
                           @(((int)tblPermission & Model.SysTable.Permissions) > 0 ? "checked" : "") />
                    <span></span>
                    @dStr.CapitalizeWords(tblPermission.ToString())
                </label>
            }
        </div>
        <span class="form-text text-muted">Table's functions allowed to DForm.</span>
        <input type="hidden" asp-for="SysTable.Permissions" />
    </div>
    <div class="form-group">
        <label class="font-weight-bold">Notes</label>
        <textarea class="form-control" asp-for="SysTable.StatusNote" rows="2"></textarea>
    </div>
    <div class="form-group row">
        <label class="font-weight-bold col-xl-3 col-lg-3 col-form-label">Status</label>
        <div class="col-xl-9 col-lg-9">
            <p class="form-control-plaintext font-weight-bold">@Model.SysTable.StatusText</p>
            <input type="hidden" asp-for="SysTable.Status" />
        </div>
    </div>
    <div class="form-group row">
        <label class="font-weight-bold col-xl-3 col-lg-3 col-form-label">Enabled</label>
        <div class="col-xl-9 col-lg-9">
            <span class="switch switch-outline switch-icon switch-brand">
                <label>
                    <input type="checkbox" asp-for="SysTable.Enabled" />
                    <span></span>
                </label>
            </span>
        </div>
        <span class="col-12 form-text text-muted">Allow this table avaible to DForm or not</span>
    </div>
    <div class="form-group">
        <label class="font-weight-bold">Last Synchronized: </label>
        <span class="font-weight-bold">@Model.SysTable.LastSyncDate.ToString("dd-MMM-yyyy HH:mm:ss")</span>
        <input type="hidden" asp-for="SysTable.LastSyncDate" />
    </div>
    <input type="hidden" asp-for="ActionMode" />
    <input type="hidden" asp-for="ReturnUrl" />
    <input type="hidden" asp-for="CommandName" />
</form>